@model int
<div class="container row mt-5 pt-4">
    <div class="col-12 text-center">
        <h3>Thank you for your purchase</h3>
        <br />
        <img src="~/img/r.png" width="500"height="400"/>
        <br />
        <br/>
        <div class="col-12 text-center">
            <h2>Your Order (@Model) Has Been Placed</h2>

        </div>
    </div>
</div>
