
@{
    ViewBag.PageTitle = "Category Manegement";
    ViewBag.CardTitle = "CategoryList";
   
}
<partial name="_Notification"/>

<div class="mb-5">
    <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
        Add Category
        <i class="bi bi-plus-circle-fill"></i>
    </a>
</div>
<table id="tbldata" class="table table-hover" width="100%">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Created At</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>

@section Scripts {
    

    <script src="~/js/category.js"></script>

}