@model ProductVM

@{
    ViewBag.PageTitle = "Product Management";
    ViewBag.CardTitle = "Create Product";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="Product.Name" class="control-label">Name</label>
                <div class="col-sm-10">
                    <input asp-for="Product.Name" type="text" class="form-control" required  placeholder="Product Name">
                    <span asp-validation-for="Product.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Product.Description" class="control-label">Description</label>
                <div class="col-sm-10">
                    <input asp-for="Product.Description" type="text" class="form-control" required  placeholder="Description">
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Product.Price" class="control-label">Price</label>
                <div class="col-sm-10">
                    <input asp-for="Product.Price" type="number" class="form-control" required  placeholder="Price">
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Product.ImgUrl" class="control-label">Image</label>
                <div class="col-sm-10">
                    <input asp-for="Product.ImgUrl" type="file" class="form-control" name="file" required  placeholder="Description">
                    <span asp-validation-for="Product.ImgUrl" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Product.CategoryId" class="control-label">Category Type</label>
                <div class="col-sm-10">
                    <select asp-for="Product.CategoryId" asp-items="Model.CategoryList">
                        <option disabled selected>--Select Category--</option>
                        <option></option>
                    </select>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Add</button>
                <a class="btn btn-warning" asp-controller="Category" asp-action="Index">Back To Categories</a>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
